/* Font of index.html */

.contents p {
    color: white;
    text-align: center;
    font-family: "Comfortaa";
    font-size:40px;
    margin-top:1%;
    margin-bottom: 1%;
    z-index: 99;
}
.contents {
    height: 2em;
    position: relative;
}
.button a{
    font-family: "Comfortaa";
    font-size: 130%;
    color: black;
    text-decoration: none;
    background-color: rgb(63, 191, 191);
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    margin-left: 50%;
}
.button a:hover {
    opacity: 0.5;
}


.internet h1 a, .indexhttp h1 a{
    top:30%;
    text-align:center;
    width:100%;
    background-color: white;
    opacity: .8;
    font-size: 23px;
    font-family: "Inconsolata";
    overflow: hidden;
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    list-style-type: none;
    color: blak; 

}

.internet h1:hover, .indexhttp h1:hover{
    opacity: 0.5;
}

/* Font of banner */

#lesson1-banner h1, #lesson2-banner h1 {
    position:absolute;
    top:35%;
    text-align:center;
    width:100%;
    color:white;
    background-color: black;
    opacity: .8;
    padding: 50px 0px;
    font-size: 55px;
}

/* Font of lessons */

.lesson {
    margin : 0% 10%;
}


.lesson summary {
	background-color: white;
    font-family: "Inconsolata";
    font-size: 28px;
    color: black;
    padding: 10px 0 10px 10px;
    text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.lesson summary:hover{
	background-color:rgb(63, 191, 191) ;
    opacity: 0.8;
}

.lesson h2, .aboutus h2 {
    font-family: "Arvo";
    font-size: 35px;
    color: black;
    padding: 30px 0 10px 0;
    text-align: center;
  }

.lesson h3, .aboutus h3{
    font-family: "Special Elite";
    font-size: 30px;
    color: rgb(204, 255, 255);
    padding: 15px 0;
    text-align: center;
  }

.lesson p {
    text-align: justify;
}

.lesson p, .lesson ul, .aboutus p {
    font-family: "Julius Sans One";
    color: black;
    background-color: white;
    padding: 10px 30px;
}

.lesson li{
    list-style: square outside;
}

.lesson p, .lesson ul, .lesson li{
    font-family: "Coustard";
    font-size: 20px;
    margin : 0 50px;
}

.lesson dl, .lesson dt, .lesson dd{
    font-family: "Coustard";
    font-size: 20px;
    margin: 0 50px;
}
.lesson dt{
    display: list-item;
    list-style: square outside;
}
.lesson dl {
    color: black;
    background-color: white;
    padding: 10px 30px;
}
.intro-about h1{
    font-family: "Arvo";
    color: black;
}

a {
      color: black;
      text-decoration: underline;
}

.home h1 {
    padding-top: 8%;
    text-align: center;
    color:white;
    font-family: "Comfortaa";
    font-size:70px;
    background-color: black;
    opacity: .6;
}