/* Font of index.html */

.welcome h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color:bisque;
    font-family: "Julius Sans One";
    font-size:60px;
	position:absolute;
    top:35%;
    width:100%;
    background-color: black;
    opacity: .8;
}

.welcome p {
    text-align: center;
    color: black;
    font-family: Coustard;
    font-size: 22px;
    padding-top: 46%;
}

.internet h1 a, .http h1 a{
    top:35%;
    text-align:center;
    width:100%;
    background-color: #b8b894;
    opacity: .8;
    font-size: 50px;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	color: black; /**color and font are changeable already**/

}

.internet h1:hover, .http h1:hover{
	opacity: 0.5;
}

/* Font of banner */

.banner h1 {
    position:absolute;
    top:35%;
    text-align:center;
    width:100%;
    color:white;
    background-color: black;
    opacity: .8;
    padding: 50px 0px;
    font-size: 55px;
   
}

/* Font of lessons */

.lesson {
    margin : 0 10%;
}

.lesson h2, .aboutus h2 {
    font-family: Numans;
    font-size: 35px;
    color: burlywood;
    padding: 30px 0 10px 0;
    text-align: center;
  }

.lesson h3, .aboutus h3{
    font-family: Numans;
    font-size: 30px;
    color: gray;
    padding: 15px 0;
    text-align: center;
  }

.lesson p {
    text-align: justify;
}

.lesson p, .lesson ul, .aboutus p {
    font-family: Numans;
    color: black;
    background-color: white;
    padding: 10px 30px;
}

.lesson li{
    list-style: square outside;
}

.lesson p, .lesson ul, .lesson li{
    font-family: Coustard;
    font-size: 20px;
    margin : 0 50px;
}

.lesson dl, .lesson dt, .lesson dd{
    font-family: Coustard;
    font-size: 20px;
    margin: 0 50px;
}
.lesson dt{
    display: list-item;
    list-style: square outside;
}
.lesson dl {
    color: black;
    background-color: white;
    padding: 10px 30px;
}