/* Font of index.html */

.welcome h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color:bisque;
    font-family: Julius Sans One;
    font-size:3.5em;
}

.welcome p {
    text-align: center;
    color: white;
    font-family: Coustard;
    font-size: 15px;
}

.internet p, .http p {
    text-align: center;
    color: white;
    font-family: Coustard;
    font-size: 15px;
}

/* Font of lessons */

.lesson {
    margin : 0 10%;
}

.lesson h2 {
    font-family: Numans;
    color:burlywood;
    padding-bottom: 15px;
    padding-top: 15px;
  }

.lesson p {
    margin-left : 50px;
    font-family: Numans;
    color:burlywood;
  }

.lesson li{
    list-style: square outside;
    margin-left: 50px;
}


.lesson p, ul, li{
    font-family: Coustard;
    color: white;
    font-size: 17px;
}