* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url("http://wallpaper-gallery.net/images/blur-wallpaper/blur-wallpaper-3.jpg");
    background-size: cover;
}

.welcome {
	border: 0px solid black;
	margin-top: px;
    background-color: gray;
	padding-bottom: 20px;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	width: px;
}

.internet, .http {
	border: 0px solid black;
	margin-top: 20px;
    background-color: white;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: px;
}
  
.lesson1, .lesson2 {
    border: 0px solid black;
	margin: auto;
    background-color: black;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1200px;
}

