nav {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navClass ul {
    background-color: rgba(0,0,0,.0);
    color:white;
    font-size: 18px;
    font-family: sans-serif;
}

.navClass ul li a {
    color: white;
    text-decoration: none;
}

.navClass ul li {
	list-style-type: none;
	display: inline-block;
	padding: 14px 16px;
	position: relative;
}

.navClass li:hover {
	background-color: gray;
    border-radius: 25px;
    transition: all 0.50s;
}


ul.navlesson {
	position: absolute;
	list-style-type: none;
	width: auto;
	height : auto;
	margin-left: -17px;
	margin-top: 15px;
	opacity: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.navlesson li {
    padding-top: 4px;
    padding-bottom: 4px;
}

.navClass li:hover .navlesson {
    opacity: 1;
}
